<!--The content below is only a placeholder and can be replaced.-->
<!doctype html>
<html>
  <head>
  </head>
  <body>
  <img src="/assets/img/wos_bar.png" id="wosBarImg">
    <div id="myDiv">
      <p>Please demo the WoS Nextgen Org Enhanced typeahead</p>
    </div>
    <form>
      <mat-form-field class="myForm" appearance="outline">
        <mat-label>Type Organization</mat-label>
        <input placeholder="Organization"
               matInput
               [formControl]="organization"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto = "matAutocomplete"
                          [autoActiveFirstOption]="true">
          <mat-option *ngFor = "let org of filteredOrganizations | async;"
                      [value]="org">
            {{org}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </body>
</html>


<router-outlet></router-outlet>
