.myForm {
    display: block;
    margin: auto;
    width: 35em
  }


#myDiv {
    display: block;
    margin: auto;
    text-align: center;
    width: 50%;
}

#wosBarImg {
    display: block;
    margin: auto;
    text-align: center;
    width: 80%;
}
